    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 20px;
    }

    h1 {
        text-align: center;
        color: #333;
    }

    form {
        text-align: center;
        margin-bottom: 20px;
    }

    textarea {
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 14px;
    }

    button {
        background-color: blue;
        color: black;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
    }

    #translationResult {
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
    }